__pycache__/
.idea/
.vscode/
runs/
bin/
*.png
*.csv
input/
input_*/
results/
results_*/
reconstruction/
reconstruction_*/

.vscode/

venv/
models/
models_release/
datasets/

*.pyc

.DS_Store
*models*/*

bioskin.egg-info/
build/
dist/
